@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {

    font-family: "Mulish", sans-serif;
}

body {
    max-width: 1508px;
    margin: 0px auto;
}

header,
main {
    padding-left: 135px;
    padding-right: 135px;
}

header {
    padding-bottom: 80px;
}

.mobile-menu {
    display: none;
}

.desktop-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 2.25rem;
    font-weight: 800;
    color: #131318;
}

.logo-txt {
    color: #FF5400;
}

.menus a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    color: #424247;
    padding: 22px;
}

.menus a:first-child {
    color: #FF5400;
    font-weight: 700;
}

/* hero */
.hero {
    text-align: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Hero.png");
    width: 100%;
    border-radius: 16px;
    background-size: cover;
}

.hero-text h1 {
    font-size: 4rem;
    padding-top: 100px;
    color: #FFFFFF;
    font-weight: 800;
}

.gap {
    padding: 80px;
}

.hero-text p {
    color: #FFFFFF;
    font-weight: 400;
    width: 650px;
    margin: 24px auto;
    padding-bottom: 45px;
}


.box {
    width: 175px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    border: 0px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 60%;
    margin: 0px auto;

}

.btn-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    background-color: #FF5400;
    font-weight: 700;
}


/* Main */

.popular-tour-container {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.popular-tour-text {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.popular-tour-text h1 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0px;
}

.popular-tour-text p,
li {
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
}

.your-destination-container {
    margin-top: 80px;
}

.destination-text {
    text-align: center;
}

.destination-text h1 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.desitination-img-1,
.desitination-img-2,
.desitination-img-3,
.desitination-img-4,
.desitination-img-5,
.desitination-img-6,
.desitination-img-7 {
    position: relative;
    text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.destinatiton-img-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.destination-grp-1,
.destination-grp-2,
.destination-grp-3 {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.why-us-hero {
    text-align: center;
    width: 650px;
    margin: 0px auto;
}

.why-us-hero h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: #131318;
}

.why-us-hero p {
    font-weight: 400;
    color: #131318;
}

.flashcard {
    width: 570px;
    padding: 20px;
}

.flashcard h1 {
    font-size: 1.5rem;
    font-weight: 800;
    color: #131318;
}

.flashcard p {
    font-weight: 400;
    color: #5A5A5D;
}

.flashcard-1 {
    background: #FBB5630D;
    border: 1px solid #FBB56333;
    border-radius: 5px;
}

.flashcard-2 {
    background: #29CEF60D;
    border: 1px solid #29CEF633;
    border-radius: 5px;
}

.why-us-flashcard {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.flashcard-3 {
    background: #E944440D;
    border: 1px solid #E9444433;
    border-radius: 5px;
    margin: 12px auto;
}

.package {
    padding: 30px;
    background: #FFFFFFCC;
    border: 2px solid white;
    max-width: 480px;
    max-height: 300px;
    border-radius: 16px;
}

.deals {
    text-align: center;
    margin-top: 100px;
}

.features {
    margin-top: 50px;
}

.deals h2 {
    font-size: 2.5rem;
    font-weight: 800;
}

.deals p {
    font-weight: 400;
}

.features:first-child img {
    width: 100%;
}

.features {
    position: relative;
}

.package-validity {
    display: flex;
    align-items: center;
    gap: 8px;
}

.package h3 {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: left;
}

.package p {
    font-weight: 400;
    text-align: left;
    width: 450px;
}

.package h4 {
    font-size: 1.25rem;
    font-weight: 800;
    text-align: left;
    color: #FF5400;

}

.package {
    position: absolute;
    bottom: 15%;
    right: 10%;
}

.package-2 {
    position: absolute;
    bottom: 15%;
    left: 10%;
}

.icons {
    width: 24px;
    height: 24px;
}

.wide-button {
    text-align: center;
}

.btn-wide {
    width: 210px;
    height: 52px;
    background-color: #FF5400;
    border-radius: 8px;
    border: 0px;
    margin-top: 45px;
}

.btn-wide h2 {
    padding: 10px;
    margin: 0px;
    font-size: 1.25rem;
    font-weight: 800;
    color: white;
}

.video-container {
    display: flex;
    gap: 20px;
    padding-top: 100px;
    justify-content: space-between;
}

.video-text h1 {
    font-size: 2.5rem;
    font-weight: 800;
    width: 450px;
}

.video-text p {
    color: #5A5A5D;
    font-weight: 400;
    width: 530px;
}

.video-text li {
    font-weight: 700;
    width: 520px;
    margin-top: 10px;
}

.video-text button {
    margin-top: 40px;
}

.video-image {
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0) 100%);
    position: relative;
    border-radius: 16px;
}

.video-image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-image h5 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: white;
}

.newsletter-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.newsletter-input {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 475px;
    height: 342px;
    border: 2px solid #FF5400;
    border-radius: 16px;
    padding: 40px;
}

.newsletter-input h3 {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0px;
}

.newsletter-input p {
    font-weight: 400;
    color: #5A5A5D;
}

.newsletter-input hr {
    width: 100%;
    height: .5px;
    background-color: #1313181A;
}

.newsletter-input input {
    width: 395px;
    height: 50px;
    border: 0px;
    border-radius: 8px;
    background: #1313180D;
}

.newsletter-input input::placeholder {
    font-weight: 400;
    color: #1313184D;
    padding: 5px;
}

.Subscribe {
    width: 395px;
    height: 50px;
    background-color: #FF5400;
    border: 0px;
    border-radius: 8px;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
}

.newsletter-image {
    position: relative;
}

.cupon {
    position: absolute;
    width: 300px;
    height: 80px;
    background-color: #FF5400;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    border: 0px;
    border-radius: 16px;
    bottom: 92px;
    right: -10px;
    transform: rotate(-40deg);
}

.cupon p {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0px;
}

.cupon h1 {
    font-size: 2rem;
    font-weight: 800;
    margin: 0px;
}

/* Footer */
footer {
    max-height: 500px;
    background: #1313180D;

}

.footer-main {
    display: flex;
    align-items: center;
    padding-top: 100px;
    justify-content: center;
}

.footer-main h2 {
    font-size: 2rem;
    font-weight: 800;
    margin: 0px;

}

.footer-text p {
    text-align: center;
    font-weight: 400;
}
.footer-text {
    text-align: center;
}
.footer-text img {
    padding-top: 30px;
    padding-bottom: 50px;
}
.hr {
    height: 2px;
    width: 60%;
    border: 1px solid #1313181A;
    margin: 0px auto;
    margin-bottom: 50px;
}
.all-rights {
font-weight: 300;
text-align: center;
padding-bottom: 110px;
}
/* Mobile Styles */

@media only screen and (max-width:576px) {

    header,
    main {
        padding: 10px 10px 20px 10px;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        padding: 20px 0px 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo h1 {
        font-size: 1.35rem;
        font-weight: 800;
        padding-left: 10px;
    }

    .hamburger img {
        padding-right: 20px;
    }

    .hero {
        width: auto;
        background-position: center;
        background-size: cover;
    }

    .hero-text h1 {
        font-size: 1.5rem;
    }

    .hero-text p {
        width: auto;
        padding: 10px;
        font-size: 14px;
        font-weight: 400;
    }

    .checkbox {
        display: flex;
        flex-direction: column;
    }

    /* Main */
    .popular-tour-container {
        flex-direction: column;
        margin-top: 40px;
    }

    .popular-tour-text {
        width: auto;
    }

    .popular-tour-text h1 {
        font-size: 1.25rem;
    }

    .popular-tour-text p,
    li {
        font-size: .90rem;
    }

    .popular-tour-img img {
        width: 100%;
    }

    .your-destination-container {
        margin-top: 80px;
    }

    .destination-grp-1,
    .destination-grp-2,
    .destination-grp-3 {
        flex-direction: column;
        gap: 16px;
    }


    .destinatiton-img-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    .desitination-img-1,
    .desitination-img-2,
    .desitination-img-3,
    .desitination-img-4,
    .desitination-img-5,
    .desitination-img-6,
    .desitination-img-7,
    img {
        width: 100%;
    }

    .destination-text h1 {
        font-size: 1.25rem;
    }

    .why-us-hero {
        width: auto;
        margin: 0px auto;
    }

    .why-us-hero h1 {
        font-size: 1.5rem;
    }

    .flashcard {
        width: auto;
    }

    .flashcard img {
        width: auto;
    }

    .flashcard,
    .video-text h1 {
        font-size: 1.5rem;
    }

    .why-us-flashcard {
        flex-direction: column;
    }

    .deals h2 {
        font-size: 1.5rem;
    }

    .deals {
        margin-top: 50px;
    }

    .package {
        width: 350px;
        height: 350px;
        padding: 20px;
    }

    .package h3 {
        font-size: 1.5rem;
        margin: 5px;
    }

    .features img {
        height: 600px;
        object-fit: cover;
    }

    .package-validity img {
        height: 24px;
        width: 24px;
    }

    .package p {
        width: auto;
    }

    .package h4 {
        margin: 10px;
    }

    .package {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .features {
        margin-top: 30px;
    }

    .wide-button {
        display: none;
    }

    .video-container {
        flex-direction: column;
        padding-top: 20px;
    }

    .video-text p {
        width: auto;
    }

    .video-text li {
        width: auto;
    }

    .newsletter-input {
        width: 335px;
        height: 353px;
    }

    .newsletter-input input {
        width: 335px;
    }

    .Subscribe {
        width: 335px;
    }

    .cupon {
        transform: scale(.75) rotate(-40deg);
        bottom: 60px;
        right: -45px;
    }

    .newsletter-container {
        margin-top: 20px;
        flex-direction: column;
    }

    .newsletter-image img {
        height: 300px;
    }
    /* Footer */
footer {
    max-height: 310px;
}

.footer-main {
    padding-top: 30px;
}
.footer-main img {
    width:auto
}

.footer-main h2 {
    font-size: 1.25rem;
}

.footer-text p {
    font-size: .90rem;
    font-weight: 400;
}


.footer-text img {
    padding-top: 16px;
    padding-bottom: 24px;
    width: auto;
}
.hr {
    width: 80%;
}
.all-rights {
    font-size: .90rem;
font-weight: 300;
text-align: center;
padding-bottom: 10px;
}
}